.nav-bar {
    background-color: red;
    color: #fff;
    height: 500px;
}

.nav-link-active {
    background-color: black;
    color: #fff;
    padding: 12px 32px;
}

.nav-link {
    background-color: white;
    color: black;
    padding: 12px 32px;
}